.DS_Store
node_modules
public/bundle.*
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode

_gh-pages
dist
build
.svelte-kit
package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*