name: Publish

on: workflow_dispatch

permissions:
  contents: write # to be able to publish a GitHub release
  issues: write # to be able to comment on released issues
  pull-requests: write # to be able to comment on released pull requests
  id-token: write # to enable use of OIDC for trusted publishing and npm provenance

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: production

    name: Make a release and publish to NPM

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: Install Node dependencies
        run: yarn --frozen-lockfile
      - run: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
