name: Publish

on: workflow_dispatch

jobs:
  publish:
    runs-on: ubuntu-latest

    name: Make a release and publish to NPM

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: Install Node dependencies
        run: yarn --frozen-lockfile
      - run: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
